@page "/"
<PageTitle>Index</PageTitle>

<div class="animated-background"></div>

<div class="center-content">
    <img src="AlmaNet.png" alt="AlmaNet" class="logo-alma" />
    <img src="drr.png" alt="DRR" class="logo-drr" />
</div>
