<div class="top-row ps-3 navbar navbar-dark @(Collapsed ? "top-row-collapsed" : "")">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Alma NET APIs</a>
        <button type="button" class="nav-toggle-btn" aria-label="Alternar menú" @onclick="ToggleMenu">
            <span class="nav-toggle-icon">@(Collapsed ? "☰" : "⮜")</span>
        </button>
    </div>
</div>

<div class="nav-scrollable @(Collapsed ? "collapse" : "")">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All" @onclick="CollapseNav">
                <span class="oi oi-home" aria-hidden="true"></span> Inicio
            </NavLink>
        </div>
        @* Oculto a petición del usuario
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="productos" @onclick="CollapseNav">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Productos API
            </NavLink>
        </div>
        *@
        @* Ocultos a petición del usuario
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Empresas" @onclick="CollapseNav">
                <span class="oi oi-briefcase" aria-hidden="true"></span> Datos Empresa
            </NavLink>
        </div>
        *@
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Imagen" @onclick="CollapseNav">
                <span class="oi oi-camera-slr" aria-hidden="true"></span> Analizar Imagen
            </NavLink>
        </div>
        @* Ocultos a petición del usuario
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="DEPOSITOS" @onclick="CollapseNav">
                <span class="oi oi-location" aria-hidden="true"></span> Stock por Ubicación
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Publicidad" @onclick="CollapseNav">
                <span class="oi oi-bullhorn" aria-hidden="true"></span> Publicidad
            </NavLink>
        </div>
        *@
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="AsignarImagenes" @onclick="CollapseNav">
                <span class="oi oi-image" aria-hidden="true"></span> Asignar imágenes
            </NavLink>
        </div>
    </nav>
</div>

@code {
    [Parameter] public bool Collapsed { get; set; }
    [Parameter] public EventCallback<bool> OnCollapsedChanged { get; set; }

    private async Task ToggleMenu()
    {
        if (OnCollapsedChanged.HasDelegate)
            await OnCollapsedChanged.InvokeAsync(!Collapsed);
    }

    private async Task CollapseNav()
    {
        if (OnCollapsedChanged.HasDelegate)
            await OnCollapsedChanged.InvokeAsync(true);
    }
}
