<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Alma NET APIs</a>
        <button class="navbar-toggler" type="button" aria-label="Alternar navegación" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All" @onclick="CollapseNav">
                <span class="oi oi-home" aria-hidden="true"></span> Inicio
            </NavLink>
        </div>
        @* Oculto a petición del usuario
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="productos" @onclick="CollapseNav">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Productos API
            </NavLink>
        </div>
        *@
        @* Ocultos a petición del usuario
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Empresas" @onclick="CollapseNav">
                <span class="oi oi-briefcase" aria-hidden="true"></span> Datos Empresa
            </NavLink>
        </div>
        *@
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Imagen" @onclick="CollapseNav">
                <span class="oi oi-camera-slr" aria-hidden="true"></span> Analizar Imagen
            </NavLink>
        </div>
        @* Ocultos a petición del usuario
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="DEPOSITOS" @onclick="CollapseNav">
                <span class="oi oi-location" aria-hidden="true"></span> Stock por Ubicación
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Publicidad" @onclick="CollapseNav">
                <span class="oi oi-bullhorn" aria-hidden="true"></span> Publicidad
            </NavLink>
        </div>
        *@
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="AsignarImagenes" @onclick="CollapseNav">
                <span class="oi oi-image" aria-hidden="true"></span> Asignar imágenes
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private void CollapseNav()
    {
        collapseNavMenu = true;
    }
}
